<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Administraci&oacute;n de Permisos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div ng-controller="AdmModuloController as admmodulo_controller">
    <div ng-controller="RolController as rol_controller">
        <div style="display: none;" class="modal fade" id="addPermisosModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title" id="myModalLabel">Datos de permisos</h4>
                    </div>
                    <form>
                        <div class="modal-body col-lg-12">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Guardar cambios</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="widget-icon"> <i class="fa fa-ban"></i></span>
                Permisos de Usuarios
                <span id="selectedRole" class="label label-primary pull-right"><i class="fa fa-user"> </i>&nbsp;{{ rol_controller.rolDescriptions[admmodulo_controller.rolId]}}</span>
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">

                <legend class="col-lg-12">
                    Seleccione los m&oacute;dulos / funcionalidades a las que puede acceder el rol
                </legend>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="form-control input-sm" ng-model="admmodulo_controller.rolId"
                                ng-change="admmodulo_controller.fetchListOfModules(admmodulo_controller.rolId)">
                            <option value="" disabled selected hidden>Roles</option>
                            <option value={{rol.idRol}} ng-repeat="rol in rol_controller.rols.rols">
                                {{rol.description}}
                            </option>
                        </select>
                    </div>
                </div>

                <!--<p> {{admmodulo_controller.rolId}}-->
                <!--</p>-->

                <div class="col-lg-6">
                    <input type="button" class="btn btn-primary input-sm" ng-click="admmodulo_controller.test()"
                           value="Guardar cambios"/>
                </div>

                <div class="col-lg-12" style="padding-top:20px">
                    <div    ivh-treeview="admmodulo_controller.tree"
                            ivh-treeview-options = "admmodulo_controller.ivhTreeOptions"
                            ivh-treeview-on-cb-change="admmodulo_controller.changeCallback(ivhNode, ivhIsSelected, ivhTree)"

                    >
                    </div>
                </div>
            </div>
        </div>
        <!--{{admmodulo_controller.selectedN}}-->
    </div>
</div>